<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{"model_filter_user_title" | translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-view view-title="User Lists">
            <ion-content>
                <ion-list>
                    <ion-item ng-repeat="user in Users" ng-click="doFilterUser({{user.id}})">
                        {{user.username}}
                    </ion-item>
                </ion-list>
                <ion-list>
                    <button class="button button-block button-positive" ng-click="doFilterUserReset()">{{"model_filter_user_reset" | translate}}</button>
                </ion-list>
            </ion-content>
        </ion-view>

    </ion-content>
</ion-modal-view>